<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fable oNe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="jumbotron text-center">
  <h1><%= @foo_title %> </h1><h4>(that consists of two badly written made up fabels!)</h4>
  <p>This is a beautiful story about a young fox blooming through its child-fox-hood, please be respectful to the story teller, he listens to your rubbish stories!</p>
</div>
 
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>The story</h3>
      <p>There once was a beautiful majestic fox that had a thick coat of shimmering gold and silver, he shone out through the blades of autumn grass, his tail swooping with grace and swagger, he was the king of the world. The astounding brown fox was quick, very quick. In fact he was so quick that when the hunters went to hunt the fox in order to get a good laugh like. He ran up and mauled their faces off!</p>
      <p>His huge razor-sharp swords of claws ripped through their delicate skin tearing them up like a paper shredder going at a confidential file! Tears and blood flying the hunters ran off into the distance!</p>
      
    </div>
    <div class="col-sm-4">
      <h3>Reflection over the story</h3>
      <p>Yup, it happened don't look at me I'm just the story teller...</p>
      <p>Anyway, what caught you're attention in this story, was it the face mauling. It was totally the face mauling don't lie to yourself!</p>
      <p>Okay that was a bit graphic but at least it's teaching a lesson, teaching a moral...</p>
    </div>
    <div class="col-sm-4">
      <h3>The moral of the story</h3>
      <p>"Wow, that was a very smooth transition story teller", Thanks random passer by that I made up for effect! But this was all for nothing if there was no moral to the story</p>
      <p>Can you guess what it was?, you're wrong, it's that people that hunt foxes for 'laughs' get their faces mauled off... oops gotta go bye!</p>
    </div>
     <center> <div class="col-sm-4">
      <h3>The Next story</h3>
        <a href = "/page2" class = "btn btn-info" role = "button"> Generate a new Fable</a>
    </div> </center>
  </div>
</div>
 

</body>
</html>